body {
    width: 1000px;
}

#top, #bottom {
    position: fixed; 
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top:0;
    background-color: #40e9ff;
}

#bottom {
    bottom: 0;
    background-color: white;
}

#title {
    color: white;
    font-size: 4em;
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
}

#timerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1000px) {
    #timerBox {
        position: relative;
        top: 350px;
        left: 600px;
    }
  }

#hours, #minutes, #seconds {
    height: 170px;
    width: 120px;
    font-size: 96px;
    padding-left: 15px;
    border-radius: 10px;
    transform: scale(0.9, 1.0);
    margin: 0px 10px 0px 10px;
}

#colon {
    font-size: 100px;
    position: relative;
    top: -12px;
}

label {
    position: absolute;
    top: 180px;
    font-size: 40px;
}

#hoursLabel {
    left: 25px;
}

#minutesLabel {
    left: 210px;
}

#secondsLabel {
    left: 410px;
}

#start {
    position: absolute;
    top: 300px;
    left: 125px;
    font-size: 30px;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

#start:hover {
    background-color: beige;
}

.toggle-container {
    position: absolute;
    top: 8%;
    left: 90%;
}

.toggle-btn {
    width: 90px;
    height: 40px;
    background: grey;
    border-radius: 30px;
    padding: 5px;
    transition: background 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active {
    background: blue;
}

.toggle-btn.active > .inner-circle {
    margin-left: 50px;
}

/* STOPWATCH */
button {
    width: 100px;
    height: 30px;
    border: 3px solid blue;
    border-radius: 5%;
    background: #202020;
    color: white;
    cursor: pointer;
    /* outline: none */
}

#stopwatch { /* stopwatch title */
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: none;
}

#buttons { /* buttons container */
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-51.6%, -45%);
    display: none;
}

#buttons li { /* actual buttons in the list structure */
    display: inline;
    padding-left: 10px;
}